
@font-face {
    font-family: 'GT Walsheim Pro Regular';
    src: url('GTWalsheimPro-Regular.eot');
    src: local('GT Walsheim Pro Regular'), local('GTWalsheimPro-Regular'),
        url('GTWalsheimPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('GTWalsheimPro-Regular.woff2') format('woff2'),
        url('GTWalsheimPro-Regular.woff') format('woff'),
        url('GTWalsheimPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
nav .container3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem;
    border-bottom: 1px solid rgba(95, 224, 216, 1);
}

nav .container3 h1 {
    display: flex;
    align-items: center;
    gap: .3rem;
}

nav .container3 h1 img {
    display: flex;
    align-items: center;
    padding: 0.3rem .5rem;
    gap: .5rem;
    width: 160px;
}


nav .container3 .buttons {
    display: flex;
    align-items: center;
    gap: .7em;
    margin-right: 7px;
}

nav .container3 .btn1 {
    background-color: rgba(95, 224, 216, 1);
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    color: white;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.4);
    margin-right:25px;
    border: none;
    font-family: 'GT Walsheim Pro Regular', sans-serif;
}

nav .container3 .btn1:hover {
    background-color: rgba(40, 161, 153, 0.767);
    box-shadow: 0 0 20px rgba(40, 161, 153, 0.767);
    transform: scale(1.4);

}

nav .container3 .btn1:active {
    transform: scale(1.3);

}

nav .container3 .buttons .btn2 {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1em 1rem;
    border-radius: 50%;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    background-color: rgba(95, 224, 216, 1);
}

nav .container3 .buttons .btn2 i {
    font-size: 1.2rem;
}

nav .container3 .buttons .btn2:hover {
    background-color: rgba(40, 161, 153, 0.767);
    box-shadow: 0 0 20px rgba(40, 161, 153, 0.767);
    transform: scale(1);
}

nav .container3 .buttons .btn2:active {
    transform: scale(0.9);
}

nav .container3 .buttons .btn-settings:hover i {
    animation: logo 3s ease-in-out both;
}

.container3 .search {
    position: relative;
    width: 750px;
    background-color: rgba(245, 246, 247, 1);
   
}

.container3 .search-input {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: .5rem;
    padding: .9em .9rem;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid rgba(95, 224, 216, 1);
    position: relative;
    transition: 0.3s;
}

.container3 .search-input:focus-within {
    box-shadow: 0 0 20px rgba(95, 224, 216, 1);
}

.container3 .search-input form{
    border: none;
    outline: none;
    height: 100%;
    background-color: transparent;
    color: rgba(5, 5, 5, 1);
    font-size: 18px;
    font-weight: 400;
    font-family: GT Walsheim Pro;
    width: 100% !important;
    position: relative;
}
.container3 .search-input form input {  
    border: none;
    outline: none;
    background-color: transparent;
    color: rgba(5, 5, 5, 1);
    font-size: 18px;
    font-weight: 400;
    font-family: 'GT Walsheim Pro Regular', sans-serif;

    position: relative;
    width: 90%;
}
.container3 .search-input .close-icon {
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
    font-family: 'GT Walsheim Pro Regular', sans-serif;

	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	z-index:1;
	right: 45px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	text-align: center;
	color: rgb(0, 0, 0);
	font-weight: normal;
	font-size: 18px;
	cursor: pointer;
}
.search-box:not(:valid) ~ .close-icon {
	display: none;
}
.container3 .search-input input::placeholder {
    color: rgba(5, 5, 5, 1);
    opacity: .7;
}

.container3 .search-input .button-srch{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 51px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(95, 224, 216, 1);
    transition: 0.3s;
    right: -15px;
    top: -15px;
    border: none;

}

.container3 .search-input .button-srch i {
    font-size: 20px;
    transform: scale(1.5);
    color: white;
}

.container3 .search-input span:hover {
    background-color: rgba(61, 228, 217, 0.973);
}

.container3 .search-input .button-srch:hover i {
    animation: globe 3s ease-in-out infinite;
}

@keyframes globe {
    0% {
        transform: rotate(0deg) scale(1.5);
    }

    100% {
        transform: rotate(360deg) scale(1.5);
    }
}



main .container4 .search-buttons {
    display: flex;
    align-items: center;
    margin-bottom: 1.3rem;
    gap: 1rem;
    
}

main .container4 .search-buttons button {
    background-color: #EDFCFB;
    padding: 0.7rem 1.5rem;
    border-radius: 1.5rem;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    font-family: 'GT Walsheim Pro Regular', sans-serif;
}

main .container4 .search-buttons a.active button {
    background-color: rgba(95, 224, 216, 1);
    color: white;
}

main .container4 .search-buttons .btnbtn1 {
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 1200px) {
    

    main .container4 {
        padding: 0rem 1rem !important;
    }

   
    nav .container3 h1 img {
        display: flex;
        align-items: center;
        padding: 0.3rem .5rem;
        gap: .5rem;
        width: 160px !important;
    }

    main .container4 .search-results .info1-box .about-results {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    main .container4 .search-results .info1-box .about-results .about-text {
        width: 100%;
        font-size: 13px;
    }

    main .container4 .search-results .info1-box .about-results .about-img {
        display: flex;
        width: 100%;
    }

    main .container4 .search-results .info1-box .about-results .about-img img {
        width: 35%;
    }

    main .container4 .search-results .info1-box .about-results .about-img p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
    }

    main .container4 .search-results .info1-box .about-results .about-text p {
        display: none;
    }


    nav .container3 .btn1 {
        display: none !important;
    }

    nav .container3 {
        margin-bottom: 90px;
    }

    .container3 .search {
        position: absolute;
        width: 100% !important;
        top: 115px;
        left: 0px !important;
        padding: 0rem 1rem;
    }

    main .container4 {
        max-width: 100% !important;
        padding: 0px !important;
        margin-left: 0px !important;
        height: 30px;
    }

    .container3 .search-input {
        width: 100% !important;
        /* position: absolute; */
        /* top: 70px; */
    }

    main .container4 .search-results .info1-box {
        width: 100%;
    }

    main .container4 .search-results {
        width: 100% !important;
    }

    main .container4 .btns {
        display: none;
        margin-top: 0px;
        width: 100% !important;

    }

    main .container4 .slide {
        display: block;
       
        margin-left: 0px !important;
    }
    nav .container3 h1 img{
        width: 185px;
    }
    nav .container3 .buttons button{
        transform: scale(1) !important;
    }
     nav .container3 .buttons .btn2{
        width: 50px ;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav .container3 .buttons .btn3{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}